// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#software_boxes {
	width:1000px; 
	margin:0 auto 0 auto; 
	text-align:center;
}
#software_boxes div {
	display:inline-block;
}